<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-Type" content="text/html;charset=utf-8">
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=yes" name="viewport">
  <title>桐菊账簿</title>
  <style>
    tr,
    th,
    td {
      padding: 5px;
    }

    #tables {
      display: inline;
    }

    table {
      display: unset;
    }

    body {
      background-color: #ffffff
    }

    nav {
      display: flex;
      justify-content: space-between;
    }

    nav a {
      flex: 1;
      text-align: center;
      height: 40px;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
    }
  </style>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
</head>

<body>
  <main>
    <h1>桐菊账簿</h1>
    <p><a href="https://github.com/bjwktcsnzh/tong-ju-gong-yi-bill" target="_blank">Github</a></p>
    <nav class="tabs">
      <a v-for="(name,tabIdx) in ['账簿','买菜参考','搜索']" :style="{'color':tab==tabIdx?'green':null}"
        @click="()=>tab=tabIdx">{{name}}</a>
    </nav>
    <div v-if="tab==2">

    </div>
    <div v-if="tab==1">

    </div>
    <div v-if="tab==0">
      <p>
        选择日期 :
        <select v-model="selectDate" style="height:50px;width:200px;text-align:center;font-size: 17px;">
          <option v-for="k of Object.keys(datas).reverse()" :value="k">{{k}}</option>
        </select>
      </p>
      <p>
        <span>分享链接:</span><br />
        <a id="share_link" :href="link">{{link}}</a>
      </p>
      <div id="tables" v-if="此次">
        <table>
          <h2>参加人员平摊费用</h2>
          <p>
            <span>总人数 : </span>
            <span style="color:blueviolet;font-weight: bold;">{{ 参加者.length }}</span>
            &nbsp;
            <span>平摊除数 : </span>
            <span>{{ 平摊除数 }}</span>
          </p>
          <tr>
            <th>组员</th>
            <th>优惠</th>
            <th>交钱</th>
            <th style="color: green">分摊数额</th>
            <th style="color: cornflowerblue">其所购消耗</th>
          </tr>
          <tr v-for="({人,学生,失业,交钱,分摊数额,人没来,其所购消耗}) in 所有人">
            <td style="font-weight: bold;" :style="{color:人没来?'gainsboro':'blueviolet'}">{{人}}</td>
            <td>{{人没来?'':(学生?'学生':失业?'失业':'')}}</td>
            <td style="font-weight: bold;" :style="{color:0 &gt;= 交钱?'pink':'blueviolet'}">
              {{0 &gt;= 交钱 ? ('应得 '+ (-交钱.toFixed(2))) :('要交 ' + 交钱.toFixed(2))}} </td>
            <td style="color: gainsboro;font-weight: bold;">{{分摊数额.toFixed(2)}}</td>
            <td style="color: gainsboro;font-weight: bold;">{{其所购消耗.toFixed(2)}}</td>
          </tr>
        </table>

        <table>
          <h2>购买物品信息</h2>
          <p>
            <span>分摊总额 : </span>
            <span style="color:green;font-weight: bold;">{{ 分摊总额.toFixed(2) }}</span>
            &nbsp;
            <span>总消耗 : </span>
            <span style="color:cornflowerblue;font-weight: bold;">{{ 总消耗.toFixed(2) }}</span>
          </p>
          <tr>
            <th style="min-width: 50px">付款人</th>
            <th style="min-width: 50px">东西</th>
            <th style="min-width: 50px">使用情况</th>
            <th style="color: green">分摊</th>
            <th style="color: cornflowerblue">消耗</th>
            <th style="color: chocolate">私分</th>
            <th>总价</th>
          </tr>
          <tr v-for="({人,啥,分摊,消耗,私分,未完待续,使用情况,总价}) in buys">
            <td>{{人}}</td>
            <td :style="{'color':未完待续?'#3595b5':null}">{{啥}}</td>
            <td>{{使用情况}}</td>
            <td style="color:green">{{分摊.toFixed(2)}}</td>
            <td :style="{'color':消耗==分摊?'gainsboro':'cornflowerblue'}">{{消耗.toFixed(2)}}</td>
            <td :style="{'color':私分==0?'gainsboro':'chocolate'}">{{私分.toFixed(2)}}</td>
            <td :style="{'color':总价==0?'gainsboro':null}">
              {{typeof 总价==='number'?总价.toFixed(2):总价}}
            </td>
          </tr>
        </table>
        <div style="margin-top: 50px">
          <p>
            <span>私分的金额 : </span>
            <span style="font-weight: bold;color: chocolate;">{{ 总私分.toFixed(2) }}</span>
          </p>
          <div style="margin: 0px 30px">
            <p>
              私分的部分，已经被包括在“参加人员平摊费用”的<span style="color:cornflowerblue">“其所购消耗”</span>中。
              <span style="color:green">“分摊数额”</span>中不包括了私分部分的钱。
            </p>
            <p>
              活动结束前参加活动的组员打包带走的东西并不算在私分内。因为这仍然是“平摊”。当所有人把东西平摊光后，
              剩下的部分一般都是活动地点合租的成员使用了，这部分才是“私分”。
            </p>
            <p>
              因为<span style="color:cornflowerblue">“其所购消耗”</span>中已经包括私分的钱了，
              所以财务不需要再发钱给付款人，财务只需向得到私分的受益人收钱就行。
            </p>
          </div>
        </div>
      </div>
      <hr style="margin: 60px 0px 20px 0px;" />
      <button @click="showStatistics = !showStatistics"
        style="font-size:17px;text-align: center;height: 40px;width:140px;"
        :style="{'margin-bottom':showStatistics?'0px':'40px'}">
        {{showStatistics?'隐藏统计信息':'展示统计信息'}}
      </button>
      <div v-if="showStatistics" id="statistics" style="margin-bottom: 100px;">
        <table>
          <h3>未用完的物品</h3>
          <tr>
            <th style="min-width: 100px">东西</th>
            <th>总价</th>
            <th style="min-width: 50px">付款人</th>
            <th style="min-width: 200px">使用情况</th>
            <th style="color: green">分摊</th>
            <th style="color: cornflowerblue">消耗</th>
            <th style="color: chocolate">私分</th>
            <th>日期</th>
            <th>此次使用占比</th>
            <th>总计占比</th>
          </tr>
          <tr v-for="({啥,总价, 分摊, 消耗, 私分,人, 未完待续, 使用情况,date,已用完,总计占比}) in 未用完的物品"
            :style="{'color':已用完?'gainsboro':null}">
            <td>{{啥}}</td>
            <td>{{总价.toFixed(2)}}</td>
            <td>{{人}}</td>
            <td>
              <span :style="{'font-weight':未完待续=='已用完'?'bold':'normal'}">
                {{未完待续=="已用完"?"（这次已用完）":""}}
              </span>
              <span>{{使用情况}}</span>
            </td>
            <td style="color:green">{{分摊.toFixed(2)}}</td>
            <td :style="{'color':消耗==分摊?'gainsboro':'cornflowerblue'}">{{消耗.toFixed(2)}}</td>
            <td :style="{'color':私分==0?'gainsboro':'chocolate'}">{{私分.toFixed(2)}}</td>
            <td>{{date}}</td>
            <td>{{((分摊/总价).toFixed(2)*100)+"%"}}</td>
            <td>{{总计占比}}</td>
          </tr>
        </table>
      </div>
    </div>
  </main>
  <script type="module" src="index.js"></script>
</body>

</html>